{% extends 'layout/base.html' %}

{% load static %}

{% block titulo %}
Detalle del Producto
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/productos.css' %}">
{% endblock %}

{% block body %}
<nav class="superior">
    <ul class="menu_superior">
        <li>
            <a href="{% url 'catalogo' %}" class="home" id="no_sub">Logo</a>
        </li>
        {% if user.is_staff %}
        <li class="a_superior">
            <a href="{% url 'aggproducto' %}" class="aggpro" id="no_sub">Agregar Productos</a>
        </li>
        <li class="a_superior">
            <a href="{% url 'lista_productos' %}" class="aggpro" id="no_sub">Lista de Productos</a>
        </li>
        <li class="a_superior">
            <a href="{% url 'lista_usuarios' %}" class="aggpro" id="no_sub">Lista Usuarios</a>
        </li>
        {% endif %}
    </ul>
    <ul class="menu_superior">
        <li class="a_superior">
            <a href="" class="pedidos" id="no_sub">Mis Pedidos</a>
        </li>
        <li class="a_superior">
            <a href="{% url 'carrito' %}" class="carro" id="no_sub">
                <i class="bi bi-cart"></i>
            </a>
        </li>
        <li class="a_superior perfil">
            <a href="#" id="" class="perfil" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ user.foto_perfil.url }}" alt="Foto de perfil" class="avatar">
            </a>
            <ul class="dropdown-menu">
                <li> {{ user.username }} </li>
                <li><a href="{% url 'editar_perfil' %}" class="dropdown-item">Ajustes de perfil</a></li>
                <li><a href="{% url 'cerrar_se' %}" class="dropdown-item">Cerrar sesión</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div class="producto-detalle">
    <div class="imagen-producto">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
                ></button>
                <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                ></button>
                <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                ></button>
            </div>
            <div class="carousel-inner">
                {% for imagen in imagenes %}
                    {% if imagen.url != 'media/uploads/default_P.png' %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ imagen.url }}" class="img-carrusel" alt="...">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev"
            >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next"
            >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="informacion-producto">
        <div class="info-prod">
            <h1 class="nombrepro">{{ producto.nombre }}</h1>
            <p class="descripcionpro">{{ producto.descripcion }}</p>
            <p class="preciopro">Precio: ${{ producto.precio }}</p>
            <p class="cantidadpro">Cantidad disponible: {{ producto.cantidad }}</p>
            <p class="especificacionespro">{{ producto.especificaciones }}</p>
        </div>
        <div class="formulario">
            <form method="POST" action="{% url 'agregar_al_carrito' producto.id_producto %}">
                {% csrf_token %}
                <label for="cantidad">Cantidad:</label>
                <input
                    type="number"
                    name="cantidad"
                    id="cantidad"
                    value="1"
                    min="1"
                    max="{{ producto.cantidad }}"
                >
                <button type="submit">Agregar al carrito</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
