body {
  flex-direction: column;
  background: rgb(255, 255, 255);
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 14px;
  background-image: url(../img/Fondos_css/fondo_aggproductos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: rgb(3, 79, 109);
  padding: 15px;
  border-radius: 10px;
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.5em;
}

.datos {
  background-color: rgb(30, 109, 139);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
}

.form-group {
  width: 48%;
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: white;
  font-size: 0.9em;
}

.form-group input[type="file"] {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.185);
  color: white;
  border: 1px solid rgba(3, 79, 109, 1);
  padding: 4px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer; 
}

.form-group input[type="file"]::-webkit-file-upload-button {
  background-color: rgba(3, 79, 109, 1);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  cursor: pointer;
}

.form-group input[type="file"]::-webkit-file-upload-button:hover {
  background-color: rgba(3, 79, 109, 0.9);
}

.form-group input[type="text"],
.form-group textarea,
.form-group select {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.185);
  color: white;
  border: 1px solid rgba(3, 79, 109, 1);
  padding: 9.3px;
  border-radius: 5px;
  font-size: 0.9em;
}

.form-group input[type="text"]:focus,
.form-group input[type="file"]:focus,
.form-group input[type="number"]:focus,
.form-group textarea:focus,
.form-group select:focus {
  outline: none;
  border: 1px solid white;
}

.form-group input[type="number"] {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.185);
  color: white;
  border: 1px solid rgba(3, 79, 109, 1);
  padding: 8px;
  border-radius: 5px;
  font-size: 0.9em;
}

.botones {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn-primary {
  background-color: rgba(3, 79, 109, 1);
  border: none;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  align-self: center;
  font-size: 0.9em;
}

.btn-primary:hover {
  background-color: rgba(3, 79, 109, 0.9);
}

#no_sub {
  color: white;
  text-decoration: none;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: rgba(3, 79, 109, 0);
  transition: all 0.3s ease-in-out;
}
