body {
    background: rgb(255, 255, 255);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Aseguramos que el contenedor ocupe toda la altura de la pantalla */
}

.card {
    background-color: rgba(3, 79, 109, 0.9); /* Color de fondo de la tarjeta */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 900px; /* Más ancho */
    padding: 10px;
    text-align: center;
    color: white; /* Color del texto */
}

.card-titulo {
    color: white; /* Color del título */
    font-size: 24px;
    margin-bottom: 0;
}

.datos-perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(30, 109, 139);
    padding: 10px;
}

.username, .email {
    align-self: center;
    justify-self: start;
    font-size: 20px;
    color: white; /* Color del nombre de usuario */
}

.img_perfil-container {
    align-self: center;
    justify-self: end;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.img_perfil {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.img_perfil-container:hover .img_perfil {
    filter: brightness(0.5); /* Oscurece la imagen un poco */
}

.bio {
    font-size: 16px;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 5px;
    margin-top: 15px;
    padding: 5px;
    color: rgb(0, 0, 0); /* Cambia el color de la biografía */
    width: 100%;
    text-align: left;
    max-height: 170px; /* Disminuir la altura del campo bio */
    min-height: 100px;
    overflow-y: scroll;
    text-overflow: ellipsis;
    background-color: rgb(255, 255, 255);;
}


::-webkit-scrollbar{
    height: auto;
    width: 5px;
    width: 7px;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(107, 107, 107)
}

#editar-perfil-btn {
    background-color: rgba(3, 79, 109, 1); /* Color del botón */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
}

#editar-perfil-btn:hover {
    background-color: rgba(3, 79, 109, 0.9); /* Color del botón al pasar el ratón */
}

.overlay {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    z-index: 8;
}

.form-popup {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white; /* Fondo blanco para el formulario */
    color: black; /* Texto negro para el formulario */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 750px;
}

.form-container {
    max-width: 100%;
    padding: 10px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-cancel {
    background-color: #f44336; /* Color del botón cancelar */
}

.form-container button:hover, .btn-cancel:hover {
    opacity: 0.8;
}

.no_sub{
    color: white;
    text-decoration: none;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: rgba(3, 79, 109, 0);
    transition: all 0.3s ease-in-out;
}

.no_sub:hover{
    background-color: rgba(3, 79, 109, 0.7);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}