body {
    background: black;
    color: white;
    font-family: Arial, sans-serif;
}

.superior {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(3, 79, 109, 0.7);
    padding: 15px;
}

.nombre {
    font-size: 1.7em;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.no_sub {
    color: white;
    text-decoration: none;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: rgba(3, 79, 109, 0);
    transition: all 0.3s ease-in-out;
}

.no_sub:hover{
    background-color: rgba(3, 79, 109, 0.7);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.carrusel {
    width: 100%;
    height: 300px;
    background: url() no-repeat center center;
    background-size: cover;
    margin: 20px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(3, 79, 109, 1);
}

.img-carrusel{
    width: 100vw;
    height: 80vh;
    object-fit: contain;
}

.info-tienda-online {
    background-color: rgba(3, 79, 109, 0.9);
    padding: 20px;
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
    padding: 20px;
    max-width: 1200px;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.451);
    border-radius: 10px;
}
.product-item {
    border: 2px solid #a6d1a6;
    padding: 10px;
    text-align: center;
}

.cart-icon {
    font-size: 24px;
    margin-left: 500px;
    color: black;
}

.producto-card {
    border-radius: 10px;
    width: 250px; 
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    box-sizing: border-box; 
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.producto-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2);
    
}
  
.producto-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.nombrepro{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.preciopro{
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.inferior {
    background-color: rgba(3, 79, 109, 0.9);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.encuentranos, .contactanos {
    width: 48%;
}

.encuentranos p, .contactanos p {
    margin: 5px 0;
}
